include VERSION.txt
include README.rst
include setup.py

recursive-exclude pyrecord *.pyc
recursive-exclude docs *
recursive-exclude tests *
exclude setup.cfg
exclude MANIFEST.in
exclude dev-requirements.txt
